$color: #666;
$colorRed:red;
$colorBlue:blue;

.header {
  height: 200px;
  background-color: $colorBlue;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
